body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  
  width: 425px;
  background: #fff;
  margin: 8px auto;
  padding-bottom: 2px;
  padding-top: 2px;
  
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: auto;
  display: block;
  padding: 8px;
}